a:link {color: #000000}
a:visited {color: #000000}
a:hover {text-decoration:none;color: #00b7ee}
a:active {color: #00b7ee}

body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: default;
}
#foot{
	margin-top:2%;
}
.nav-ul{
	height: 38px;
}
.nav-ul li{
    margin: 7px 0 0 0;
}
.divfix {
    position: fixed;
    width: auto;
    right: 1%;
    bottom: auto;
    z-index: 1;
}
.foot{
    bottom: 2px;
}
.headphoto{
    width: 50%;
    height: 10%;
}
#summaryc p img{
	width:100% ;
	height:100%;
}
