<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fc.mapper.CommentMapper">
	<select id="findCommentById" parameterType="java.lang.Integer" resultType="cn.fc.entity.Comment">
		SELECT content,time,username FROM comment as c left join user  u  on c.user_id=u.id where article_id=#{article_id}
	</select>
		 
  	<insert id="addComment" parameterType="cn.fc.entity.Comment">
  		insert into comment(user_id,article_id,content) values(#{user_id},#{article_id},#{content})
  	</insert>
  	<delete id="delCom" parameterType="java.lang.Integer">
  	 	delete from comment where id=#{id}
  	 </delete>
  	 <select id="findAllComment" resultType="cn.fc.entity.Comment">
		SELECT c.content,time,username,title,article_id,c.user_id,c.id FROM comment as c 
		left join user  u  on c.user_id=u.id
		left join article  a  on c.article_id=a.articleid
		limit #{start},#{pageSize}
	</select>
	
	<select id="getCount" resultType="java.lang.Long">
		select count(id) from comment
	</select>
</mapper>
